body, html{
    height: 100%;
    width: 100%;
    background-color:lightblue ;
    margin: 0;
}

.topnav{
    background-color: darkred;
    overflow: hidden
}

.topnav a{
    float: left;
    display: block;
    color: darkorange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: darkgoldenrod;
    color: #000;
}

.topnav a:active {
    background-color: darkgoldenrod;
    color:white;
}

table {
    width:90%;
}

table, th, td {
    border: 2px solid whitesmoke;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align:left;
    font-size: 160%;
}

div.hero-image, div.hero-image1, div.hero-image2, div.hero-image3 {
    text-align: left;
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(240, 21, 21);
}

div.hero-text h1{
    font-size: 3em;
    padding: 10px;
}

div.hero-text a button {
    color: black;
    border-color:red;
    background-color:white;
    padding: 10px;
}

div.hero-image, div.hero-image1, div.hero-image2, div.hero-image3 {
    background-image: url("mo_food.jpg");
    height: 100vh;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
}

div.hero-image1 {
    background-image: url("chefMo.jpg");
}

div.hero-image2 {
    background-image: url("mo_food.jpg");
}

div.hero-image3 {
    background-image: url("mo_food1.jpg");
}

.overlay{
    height: inherit;
    width: inherit;
    background: rgba(0,0,0,0.3);
}

.but{
	color:fuchsia;
	 padding: 10px;
	font-size:1.2rem;
	border-radius: 10px;
}

.but:hover{
	color: white;
	background: rgb(1, 20, 24);
	cursor: pointer;
}

.abut{
    padding: 15px;
}

.column{
    float: left;
    width: 33.33%;
}

.column img{
    width: 98%;
    height: auto;
}

.row {
    text-align: center;
    padding-bottom: 30px;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.addr{
    padding: 30px;
}

footer {
    background-color: red;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}

footer p{
    color: gold;
    font-size: 25px;
}

.foot img{
    width: 45px;
    height: 45px;
    padding:3px;
}

.fllwUs{
    color:blue;
    text-align:center;
    margin-top: 100px;
    font-size: xx-large;
}

.form-style{
	border-left: 2px solid black;
	width: fit-content;
	background: antiquewhite;
	padding: 20px;
	border-radius: 15px;
}

label{
    font-size: 1.5rem;
}

input[type=text],
input[type=email]
{
    
	padding: 10px;
	border-radius: 10px;
	width: 300px;
	font-size: 1.2rem;
}

textarea{
    	border-radius: 10px;
	width: 380px;
	height: 150px;
	margin: 5px;
}

.send{
	padding: 10px;
	border-radius: 10px;
	font-size: 1.2rem;
	width: 100px;
}

.send:hover{
	background:red;
	color: grey;
}

h2, h3 {
    color: blue;
}